#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp Q  &kp W  &kp F           &kp P          &kp G      &kp J  &kp L  &kp U      &kp Y    &kp SEMICOLON
&kp A  &kp R  &kp S           &kp T          &kp D      &kp H  &kp N  &kp E      &kp I    &kp O
&kp Z  &kp X  &kp C           &kp V          &kp B      &kp K  &kp M  &kp COMMA  &kp DOT  &mt BACKSLASH SLASH
       &sl 1  &sk LEFT_SHIFT  &kp BACKSPACE  &kp SPACE
            >;
        };

        Numbers {
            display-name = "NAV";
            bindings = <
&kp N1        &kp N2     &kp N3          &kp N4     &kp N5     &kp TILDE        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp NUMBER_6  &kp N7     &kp N8          &kp N9     &kp N0     &kp EXCLAMATION  &kp EQUAL             &kp UP                 &key_repeat       &kt SINGLE_QUOTE
&kp LC(Z)     &kp LC(X)  &kp LC(C)       &kp LC(V)  &kp LC(A)  &kp AT_SIGN      &kp LEFT_ARROW        &kp DOWN_ARROW         &kp RIGHT_ARROW   &kp MINUS
              &trans     &sk LEFT_SHIFT  &kp DEL    &kp ENTER
            >;
        };

        Functions {
            display-name = "Functions";
            bindings = <
&kp F1     &kp F2     &kp F3          &kp F4     &kp F5     &kp TILDE        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp F6     &kp F7     &kp F8          &kp F9     &kp F10    &kp EXCLAMATION  &kp EQUAL             &kp UP_ARROW           &kp RBKT          &kp BSLH
&kp LC(Z)  &kp LC(X)  &kp LC(C)       &kp LC(V)  &kp LC(A)  &kp UNDER        &kp LEFT_ARROW        &kp DOWN_ARROW         &kp RIGHT_ARROW   &kp PIPE
           &trans     &sk LEFT_SHIFT  &kp DEL    &kp ENTER
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
&trans  &kp F7  &kp F8  &kp F9  &kp F12  &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &trans  &trans
&trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans        &trans      &trans        &trans  &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans        &trans      &trans        &trans  &trans
        &trans  &trans  &trans  &trans
            >;
        };
    };
};
