#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <13 12>;
        };

        Delete {
            bindings = <&kp DEL>;
            key-positions = <4 3>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <3 2>;
        };

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <1 0>;
        };

        control {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <11 10>;
        };

        Delete_words {
            bindings = <&Delete_Words>;
            key-positions = <20 21 32>;
        };

        Functions {
            bindings = <&sl 2>;
            key-positions = <30 31>;
        };
    };

    macros {
        Delete_Words: Delete_Words {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LEFT_CONTROL &kp DEL>;

            label = "DELETE_WORDS";
        };

        Snip: Snip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LEFT_GUI &kp LEFT_SHIFT &kp S>;

            label = "SNIP";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp Q  &kp W  &kp F           &kp P          &kp G      &kp J  &kp L  &kp U      &kp Y    &kp SEMICOLON
&kp A  &kp R  &kp S           &kp T          &kp D      &kp H  &kp N  &kp E      &kp I    &kp O
&kp Z  &kp X  &kp C           &kp V          &kp B      &kp K  &kp M  &kp COMMA  &kp DOT  &mt BACKSLASH SLASH
       &sl 1  &sk LEFT_SHIFT  &kp BACKSPACE  &kp SPACE
            >;
        };

        Numbers {
            display-name = "NAV";
            bindings = <
&kp N1        &kp N2     &kp N3          &kp N4     &kp N5     &kp TILDE        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp NUMBER_6  &kp N7     &kp N8          &kp N9     &kp N0     &kp EXCLAMATION  &kp EQUAL             &kp UP                 &key_repeat       &kt SINGLE_QUOTE
&kp LC(Z)     &kp LC(X)  &kp LC(C)       &kp LC(V)  &kp LC(A)  &kp AT_SIGN      &kp LEFT_ARROW        &kp DOWN_ARROW         &kp RIGHT_ARROW   &kp MINUS
              &trans     &sk LEFT_SHIFT  &kp DEL    &kp ENTER
            >;
        };

        Functions {
            display-name = "Functions";
            bindings = <
&kp F1   &kp F2   &kp F3          &kp F4   &kp F5      &kp TILDE   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &Snip  &bt BT_CLR
&kp F6   &kp F7   &kp F8          &kp F9   &kp F10     &kp C_MUTE  &kp C_VOLUME_UP       &kp K_CALC             &none  &kp C_AL_TASK_MANAGER
&kp F11  &kp F12  &kp F13         &kp F14  &kp LC(F4)  &bt BT_NXT  &kp C_VOL_DN          &kp RIGHT_ALT          &none  &none
         &trans   &sk LEFT_SHIFT  &kp DEL  &kp ENTER
            >;
        };
    };
};
